<div class="container spacer">
  <div class="card" *ngIf="mode == 1">
    <div class="card-header"><h3>Modifier contact</h3></div>
    <div class="card-body">
      <div >
        <span class="text-danger">{{errorMsg}}</span>
        <div class="form-group">
          <label class="custom-control-label">Nom:</label>
          <input type="text" [(ngModel)]="contact.nom" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="custom-control-label">Prenom:</label>
          <input type="text" [(ngModel)]="contact.prenom" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="custom-control-label">Date de naissance:</label>
          <input type="date" [(ngModel)]="contact.dateNaissance" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="custom-control-label">Email:</label>
          <input type="text" [(ngModel)]="contact.email" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="custom-control-label">Telephone:</label>
          <input type="text" [(ngModel)]="contact.telephone" class="form-control"/>
        </div>
        <!--
        <div class="form-group">
          <label class="custom-control-label">Photo:</label>
          <input type="file" [(ngModel)]="contact.photo" class="form-control custom-file-control"/>
        </div>
      -->
        <button class="btn btn-primary" (click)="updateContact()">Modifier</button>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="mode == 2">
    <div class="card-header"><h3>Confirm contact</h3></div>
    <div class="card-body">
      <p><label>ID : </label> {{contact.id}}</p>
      <p><label>Nom : </label> {{contact.nom}}</p>
      <p><label>Prénom : </label> {{contact.prenom}}</p>
      <p><label>Date de naissance : </label> {{contact.dateNaissance}}</p>
      <p><label>Téléphone : </label> {{contact.telephone}}</p>
      <p><label>Email : </label> {{contact.email}}</p>
      <p><button (click)="mode = 1" class="btn btn-primary"> Modifier contact</button></p>
    </div>
  </div>

</div>
